.nota-red
{
    margin-top: 1rem;
    background: rgba(180, 25, 25, 0.664);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.3rem solid rgba(114, 19, 19, 0.342);
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.nota-green
{
    margin-top: 1rem;
    background: rgba(5, 248, 17, 0.281);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.3rem solid rgba(10, 233, 66, 0.342);
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(42, 75, 42);
    text-transform: uppercase;
}